body {
  background: url(../media/bgnd-contact.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
/* Main */
main h1,
main h3,
main div {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
}
main h3:hover {
  transform: scale(0.99);
}
main div a i {
  color: var(--light);
  font-size: 2.5rem;
  transition: all 0.3s linear;
}
main div a i:hover {
  color: var(--red);
}
/* Map */
#map {
  height: 55vh; 
}
/* Media queries */
@media(max-width: 576px) {
  main h1 {
    font-size: 3.5rem;
  }
  main h3 {
    font-size: 1.8rem;
  }
  main div a i {
    font-size: 2.3rem;
  }
}